---
const { sideBarActiveItemID } = Astro.props;
const activeClass = "bg-base-300"; // For primary color replace with `active` class

import { getCollection } from "astro:content";

const postsCount = (await getCollection("blog")).length;
---

<ul class="menu grow shrink menu-md overflow-y-auto w-full">
	<!-- Sidebar content here -->
	<li><a class={`py-3 text-base ${sideBarActiveItemID === "home" ? activeClass : ""}`} href="/">Home</a></li>
	<li><a class={`py-3 text-base ${sideBarActiveItemID === "blog" ? activeClass : ""}` } href="/blog/">Blog ({postsCount})</a></li>
	<li><a class={`py-3 text-base ${sideBarActiveItemID === "cv" ? activeClass : ""}`} href="/cv">Resume/Curriculum vitae</a></li>
    <li><a class={`py-3 text-base ${sideBarActiveItemID === "projects" ? activeClass : ""}`} href="/projects">Sideprojects</a></li>
</ul>