<!--  Note that for this to work, you need to use SetTheme component in the head of the page
      Currently uses font-bold to avoid safari rendering issue,
      see https://github.com/saadeghi/daisyui/issues/2311 -->
<select
		class="select select-ghost select-sm w-full max-w-xs font-bold"
		data-choose-theme
>
	<option value="">Default theme</option>
	<option value="dark">Dark theme</option>
	<option value="light">Light theme</option>
</select>